<%- contentFor('css') %>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">

<%- contentFor('scripts') %>
<script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script>
    $(document).ready( function () {
        $('#pharms').DataTable();
    } );
</script>

<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
        <h2><span>Pharmaceuticals</span></h2>
        <p> <span>Drugs are categorized by clearance level</span></p>
    </div>
</section>

<main>
    <div style="padding-top: 40px">
        <table id="pharms" class="table table-striped table-border">
            <thead>
                <tr>
                    <th>Pharmaceutical ID</th>
                    <th>Name</th>
                    <th>Expiration Date</th>
                    <th>Sale Price</th>
                    <th>Description</th>
                    <th>Dosage</th>
                </tr>
            </thead>
            <tbody>
                <% drugs.forEach(function (p) { %>
                <tr>
                    <td>
                        <%= p.Pharm_ID %>
                    </td>
                    <td>
                        <%= p.Pharm_Name %>
                    </td>
                    <td>
                        <%= p.Pharm_Expiration_Date %>
                    </td>
                    <td>
                        <%= p.Sale_Price %>
                    </td>
                    <td>
                        <%= p.Description %>
                    </td>
                    <td>
                        <%= p.Dosage %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</main>