<%- contentFor('css') %>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">

<%- contentFor('scripts') %>
<script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script>
	$(document).ready( function () {
		$('#pH').DataTable();
	} );
</script>

<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2><span>Prescription History</span></h2>
		<p> <span>Search by Client ID</span></p>
	</div>
</section>

<main>
	<div style="padding-top: 40px">
		<table id="pH" class="table table-striped table-border">
			<thead>
				<tr>
					<th>Client ID</th>
					<th>Prescription ID</th>
					<th>Date Prescribed</th>
					<th>Result</th>
					<th>Condition Name</th>
				</tr>
			</thead>
			<tbody>
				<% pHist.forEach(function (pH) { %>
				<tr>
					<td>
						<%= pH.C_ID %>
					</td>
					<td>
						<%= pH.P_ID %>
					</td>
					<td>
						<%= pH.Date_Prescribed %>
					</td>
					<td>
						<%= pH.Result %>
					</td>
					<td>
						<%= pH.Cond_Name %>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>

</main>