<%- contentFor('css') %>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">

<%- contentFor('scripts') %>
<script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script>
	$(document).ready( function () {
		$('#pTTable').DataTable();
	} );
</script>

<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2><span>Prescription Tickets</span></h2>
		<p> <span>Listings of previous tickets</span></p>
	</div>
</section>

<main>
	<div style="padding-top: 40px">
		<table id="pTTable" class="table table-striped table-border">
			<thead>
				<tr>
					<th>Ticket Number</th>
					<th>Made by Employee</th>
					<th>Prescribed to Client</th>
					<th>Date Prescribed</th>
					<th>Time of Usage</th>
				</tr>
			</thead>
			<tbody>
				<% tickets.forEach(function (t) { %>
				<tr>
					<td>
						<%= t.Ticket_Number %>
					</td>
					<td>
						<%= t.Emp_ID %>
					</td>
					<td>
						<%= t.C_ID %>
					</td>
					<td>
						<%= t.Ticket_Date_Prescribed %>
					</td>
					<td>
						<%= t.Time_of_Usage %>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>

</main>