<%- contentFor('css') %>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">

<%- contentFor('scripts') %>
<script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script>
    $(document).ready( function () {
        $('#supp').DataTable();
    } );
</script>

<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
        <h2><span>Supplier Info</span></h2>
        <p> <span>Info on suppliers</span></p>
    </div>
</section>

<main>
    <div style="padding-top: 40px">
        <table id="supp" class="table table-striped table-border">
            <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Location</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <% supplierInfo.forEach(function (supp) { %>
                <tr>
                    <td>
                        <%= supp.Supplier_Name %>
                    </td>
                    <td>
                        <%= supp.Supplier_Location %>
                    </td>
                    <td>
                        <%= supp.Supplier_Phone %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</main>